<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<th:block th:fragment="footerResources">
<!-- Bootstrap core JavaScript-->
<script src="../../static/js/vendor/jquery/jquery-3.2.1.min.js" type="text/javascript" th:src="@{/js/vendor/jquery/jquery-3.2.1.min.js}" /></script>
<!-- jQuery -->
<script src="../../static/js/jquery.js" type="text/javascript" th:src="@{/js/jquery.js}" /></script>
<script src="../../static/js/bootstrap.min.js" type="text/javascript" th:src="@{/js/bootstrap.min.js}" /></script>
<script src="../../static/js/parent.js" type="text/javascript" th:src="@{/js/parent.js}" /></script>
<script src="../../js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<script src="../../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="../../js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script src="../../js/aos.js" th:src="@{/js/aos.js}"></script>
<script src="../../js/main.js" th:src="@{/js/main.js}"></script>

</th:block>

</head>
<body>
</body>
</html>

