<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<th:block th:fragment="menuFooterResources">
 <div class="container">
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; MediSha - Lại Thục Trinh, Luyện Thị Yên, Nguyễn Thị Mỹ Duyên</p>
                    </div>
                </div>
            </footer>

        </div>
</th:block>
</html>